header{
	font-size: 20px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imagemMiniatura {
	display: flex;
	align-items: center;
	justify-content: center;
}

#imagemMaior {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

#imagemPrincipal {
	width: 410px;
	height: 500px;
}

#miniatura1,
#miniatura2,
#miniatura3,
#miniatura4,
#miniatura5 {
	width: 65px;
	height: 100px;
	border: 2px solid;
	border-radius: 6px;
	margin: 2px;
}

.nomeProduto {
	text-align: center;
}

#textoProduto {
	text-align: center;
	margin-top: 50px;
}

.imgindex{
	height: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	
}

footer{
	text-align: center;
}


a{
	font-size: 20px;	
}

.card{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.menor{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-bottom: 50px;
}