body{
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}    
table{
    border: 2px solid ;   
    background-color: gray;   
    box-shadow: 5px 5px 5px white; 
    border-radius: 10px;   
    margin: auto;
}
tr{
    border: 2px 2px solid wheat;
    text-align: center;
    border-radius: 10px; 
}    
td{
    border: 2px solid;
    border-radius: 10px; 
}
.brigadeiro{
    width: 100px;
}
.bolo{
    width: 100px;
}
.pudim{
    width: 100px;
    height: 80px;
}
.pave{
    width: 100px;
}
a{
    color: white;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}