body{
    background-color: rgb(53, 52, 52);
    color: green;    
}

#listaAlunos{
    border: 1px solid;
    border-color: white; 
    border-radius: 5px;
}

.btnCadastrar{
    border-radius: 8px;
    color: white;
    background-color: green;
    font-size: 15px;
    padding: 8px;
    
}

#listaPacientes{
    border: 1px solid;
    border-color: white; 
    border-radius: 5px;
}

