body{
    background-color: rgb(53, 52, 52);
    color: green;    
}

#listaAlunos{
    border-style: dashed;
    border-color: white; 
    border-radius: 5px;
}

.btnCadastrar{
    border-radius: 8px;
    color: white;
    background-color: green;
    font-size: 15px;
    padding: 8px;    
}